
.card{
  box-shadow: 0px 1px rgba(136, 136, 136, 0.9);
  border-radius: 5px;
  padding: 15px;
}

.card .card-img img{
  width: 240px;
  height: 240px;
  border-radius: 10px;
}

.card-desc{
  line-height: 24px;
}
.card-title{
  font-size: 22px;
  color: black;
}
.card-sub-title{
  font-size: 18px;
  color: grey;
}

.card-info{
  margin-left: 2%;
  margin-right: 2%;
}
.card-shop{
  display: flex;
  justify-content: end;
}
.card-shop img{
  width: 40px;
}
