
.card-cat{
  box-shadow: 0px 2px rgba(230, 164, 255,0.8);
  border-radius: 20px;
  padding: 28px;
  margin-top: 15px;
}

.card-cat .card-img img{
  width: 240px;
  height: 240px;
  border-radius: 20px;
}

.card-desc{
  line-height: 28px;
  margin-top: 20px;
}
.card-title{
  font-size: 22px;
  color: black;
}
.card-sub-title{
  font-size: 18px;
  color: grey;
}

.card-info{
  margin-left: 2%;
  margin-right: 2%;
}
.card-shop{
  display: flex;
  justify-content: end;
}
.card-shop img{
  width: 40px;
}

.card-line{
  width: 90%;
  height: 2px;
  background-color: var(--fundoNavCat);
  align-self: center;
  margin: 8px;
}
