.categoriaMENU{
 display: flex;
 margin: auto;
 gap: 20px;
}
.text-categoria{
  font-size: 17px;
  background: none;
  border: none;
  color: black;
}
.text-categoria:hover{
   background-color: transparent;
   color:#ed01ed;
   
}
.dropdown-menu{
 background-color: rgb(150, 147, 147);
}
.dropdown-menu-end{
  color: #000000;
}
{
 display: none;
}