
header{
    display: flex;
    flex-direction: row;
    height: 120px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 2px 3px 5px rgb(57, 56, 56);
}

.logo{
    display:flex;
    flex-direction: row;
}
.nav{
    margin-left:30%;
    max-height: 100%;
    position: absolute;
}
.imglogo{
    width: 120px;
}

/* botao de navegação */

.navinfo{
    color: black;
    width: 170px;
    margin-top: 5%;
    background: none;
    border: none;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navinfo:hover{
    color: #ed01ed;
}
.navinfo-menu{
    color: rgb(0, 0, 0);
    width: 100px;
    background: none;
    border: none;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.navinfo-menu:hover{
    color: #ed01ed;
}
.offcanvas-body{
    opacity: 1;
}
