main{
  margin-bottom: 5%;
}
.carrosel{
  width: 400px;
  margin: 20px;
}
.carrosel-img{
   width: 100%;
   
}
.carrosel:hover{
    width: 450px;
    box-shadow: 5px 10px 30px rgb(0, 0, 0);
}