
/* Smartphone Responsive  */
@media(max-width: 450px){
    /* Header responsivo */
  .text-categoria{
   display: none;
  }
   body{
    width: 100%;
    display: block;
   }
   .sidebar{
    position: fixed;
   }
   .nav{
     margin: auto;
     margin-left: 2%;
     font-size: 10px;
     display: flex;
     flex-direction: column-reverse;
   }
  .menu{
    margin-top: 120px;
  }
   .navinfo1{
       display: none;
    }
    .navinfo2{
        display: none;
    }
    .navinfo3{
      display: none;
    }
    .navinfo4{
        display: none;
    }

     /* navegação */
     .menu-top{
        margin: auto;
        margin-top: 10px;
       }

       /* Catalogo */
    body .catNav{
      width: 400px;
      font-size: 8px;
      flex-direction: column;
      display: none;
      align-items: center;
    }
    body .catalogo .cardCat{
      flex-direction: column;
    }body .catalogo .lista{
      display: flex;
      flex-direction: column;
    }
  }

/* Desktop Responsive  */
@media (max-width: 1000px) and (min-width:400px){
    body{
        width: 100%;
        display: block;
       }
    .text-categoria{
        display: none;
       }
    header{
        display: block;
    }
    .nav{
     margin-top: 20px;
     display: flex;
     flex-direction: row-reverse;
    }
       .navinfo1{
       display: none;
       }
       .navinfo2{
        display: none;
       
       }
       .navinfo3{
        display: none;
       }
       .navinfo4{
        display: none;
       }

       /* navegação */
       .menu-top{
        margin: auto;
        margin-top: 10px;
       }
}