
/* Smartphone Responsive  */
@media(max-width: 450px){
    /* Header responsivo */
    .carrosel{
    width: 100px;
    }
    .carrosel:hover{
        width: 150px;
        }
  .text-categoria{
   display: none;
  }
   body{
    width: 100%;
    display: block;
   }
   .nav{
     margin: auto;
     margin-left: 2%;
     font-size: 10px;
     display: flex;
     flex-direction: column-reverse;
    
   }
   .navinfo1{
       display: none;
    }
    .navinfo2{
        display: none;
    }
    .navinfo3{
      display: none;
    }
    .navinfo4{
        display: none;
    }

     /* navegação */
     .menu-top{
        margin: auto;
        margin-top: 10px;
       }
  
  footer {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: auto;
  }

  footer section{
      /* Footer section size  */
      width: 80px;
      margin: auto;
      margin-top: 9%;
  }
  footer section img{
      /* Footer Icon responsive */
      width: 64px;
  }
}

/* Desktop Responsive  */
@media (max-width: 1000px) and (min-width:400px){
    .text-categoria{
        display: none;
       }
    header{
        display: block;
    }
    .nav{
     margin-top: 20px;
     display: flex;
     flex-direction: row-reverse;
    }
       .navinfo1{
       display: none;
       }
       .navinfo2{
        display: none;
       
       }
       .navinfo3{
        display: none;
       }
       .navinfo4{
        display: none;
       }

       /* navegação */
       .menu-top{
        margin: auto;
        margin-top: 10px;
       }
  footer{
      display: flex;
  }

  footer section{
      /* Footer section size  */
      width: 200px;
  }
  footer section img{
      /* Footer Icon responsive */
      width: 28px;
      position: relative;
  }
}