.cardsDeRoupas{
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgb(3, 3, 3);
}
.card {
    border-radius: 25px;
    border: 1px solid black;
    overflow: hidden;
    width: 130px;
    height: 170px;
    background: rgba(211, 211, 211, 0.199);
    position: absolute;
    transition: .3s ease-in-out;
    cursor: pointer;
    box-shadow: 5px 6px 15px  rgb(104, 103, 103);
  }
.card2 {
    border-radius: 25px;
    border: 1px solid black;
    overflow: hidden;
    width: 130px;
    height: 170px;
    background: rgba(211, 211, 211, 0.199);
    position: absolute;
    transition: .3s ease-in-out;
    cursor: pointer;
    box-shadow: 5px 6px 15px  rgb(104, 103, 103);
  }
  
  #c1 {
     background: none;
  }
  
  #c2 {
    background: none; 
  }
  
  #c3 {
    background: none;
  }
  
  #c4 {
    background: none;
  }
  
  .main:hover #c1 {
    transform: translateX(-100px) rotate(-40deg);
    transition: 1s;
  }
  
  .main:hover #c2 {
    transform: translateX(-50px) rotate(-30deg);
    transition: 1s;
  }
  
  .main:hover #c3 {
    transform: translateX(0) rotate(-20deg);
    transition: 1s;
  }
  
  .main:hover #c4 {
    transform: translateX(50px) rotate(-10deg);
    transition: 1.9s;
  }
  
  #c1:hover {
    transform: translateX(-150px) rotate(0deg) !important;
  }
  
  #c2:hover {
    transform: translateX(-100px) rotate(0deg) !important;
  }
  
  #c3:hover {
    transform: translateX(-50px) rotate(0deg) !important;
  }
  
  #c4:hover {
    transform: translateX(50px) rotate(0deg) !important;
  }
  
  .main {
    margin: 95px 160px;
    display: grid;
    height: 50vmax;
  }
  .verProduto{
    background-color: var(--cordefundo);
     font-size: 10px;
     font-family: var(--fonte);
  }
  