.carrosselDeRoupas{
    margin: 0 auto;
    height: 100%;
    width: 100%;
}
.slides{
    width: 400%;
  height: 100%;
  display: flex;
}
.slides input {
    display: none;
}
.Allslide{
    width: 25%;
    transition: 4s;
}
.IMAGEMUM,.IMAGEMDOIS,.IMAGEMTRES{
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
}
.navegacaoManual{
    position: absolute;
    width: 500px;
    display: flex;
    justify-content: center;
    gap: 20px;
    display: none;
}
.botaoManual{
    border: 2px solid rgb(0, 0, 0);
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    transition: 5s;
}
.botaoManual:hover{
 background-color: var(--cordefundo);
}
#radio1:checked ~ .primeiraImg{
    margin-left: 0;
}
#radio2:checked ~ .primeiraImg{
    margin-left: -25%;
}
#radio3:checked ~ .primeiraImg{
    margin-left: -50%;
}
.navegacaoAuto div{
    border: 2px solid var(--cordefundo);
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    transition:3s;
    display: none;
}
.navegacaoAuto{
    position: absolute;
    width: 500px;
    margin-top: 400px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
 #radio1:checked ~ .navegacaoAuto .botaoAuto01{
    background-color: var(--cordefundo);
 }
 #radio2:checked ~ .navegacaoAuto .botaoAuto02{
    background-color: var(--cordefundo);
 }
 #radio3:checked ~ .navegacaoAuto .botaoAuto03{
    background-color: var(--cordefundo);
 }
 .IMAGEMUM{
    background-image:url(../../img/imagensdocarrossel/Roupas\ no\ sinal\ de\ néon\ ferroviário_\ _\ Vetor\ Grátis.jpg);
    background-position-y: -350px;
    background-position-x: -200px;
    background-size: cover;
    opacity: 1;
 }
 .IMAGEMDOIS{
    background-image:url(../../img/imagensdocarrossel/Premium\ Photo\ _\ Online\ shopping\ icon\ on\ smart\ phone\ for\ global\ concept.jpg);
    background-repeat: no-repeat;
    background-position-y: -250px;
    background-position-x: 0px;
    background-size: cover;
 }
 .IMAGEMTRES{
    background-image:url(../../img/imagensdocarrossel/metro.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }