.carrosselDeRoupas2{
    width: 35%;
    overflow: hidden;
    border-radius: 30px;
    transition: 2s;
}
.slides2{
    width:400%;
  height: 350px;
  display: flex;
}
.slides2 input {
    display: none;
}
.Allslide2{
    width: 25%;
    transition: 1.2s;
}
.Allslide2 img{
    width: 500px;
    display: flex;
    flex-direction: row;
}
.navegacaoManual2{
    margin-bottom: 20px;
    width: 500px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.botaoManual2{
    width: 45px;
    border: 2px solid rgb(0, 0, 0);
    background-color: black;
    padding: 10px;
    font-size: 15px;
    border-radius: 40px;
    cursor: pointer;
    transition: 1s;
}
.botaoManual2:hover{
 background-color: var(--cordefundo);
}
#radio12:checked ~ .primeiraImg2{
    margin-left: 0;
}
#radio22:checked ~ .primeiraImg2{
    margin-left: -25%;
}
#radio32:checked ~ .primeiraImg2{
    margin-left: -50%;
}

/* segundo */