.MainDosobre{
    margin-top: 15vh;
    margin-bottom: 10vh;
}
.apresentacao{
    margin: 20px;
    padding: 90px 20px 30px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    border-top: 1px dashed rgb(0, 0, 0);
    justify-content: center;
}
.tituloDoSobre{
    margin: 50px auto 40px;
    text-align: center;
    font-family: var(--fonteTitle);
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 3px 9px  rgb(208, 208, 208);
    padding: 40px;
}
.PrimeiraBox{
    color: black;
    width: 25em;
    height: 300px;
    border-left: 1px solid rgb(80, 80, 80);
    border-right: 3px solid rgb(80, 80, 80);
    border-radius: 20px;
    background-image: url(../../img/logo\ da\ loja.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 9px 4px 15px black;
}
.SegundaBox{
    width: 50em;
    height: 100%;
    padding: 25px;
    border-left: 1px solid rgb(80, 80, 80);
    border-right: 1px solid rgb(80, 80, 80);
    border-radius: 20px;
}
.quemSomos{
    background-image: url(../../img/fundos/claudio-schwarz-LoelYE8uw7I-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 1px dashed black;
    padding: 90px 20px 60px;
    gap: 40px;
    display: flex;
    flex-direction: row;
}
.quemSomos-boxUm{
    font-family: monospace;
    background-image: url(../../img/fundo..branco.jpg);
    background-position: unset;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    opacity: 1;
    overflow: hidden;
    height: 70px;
    margin: auto;
    margin-top: 50px;
    width: 20em;
    padding: 10px;
    border-left: 1px solid rgb(80, 80, 80);
    border-right: 1px solid rgb(80, 80, 80);
    border-radius: 20px;
    transition: 2s;
}
.quemSomos-boxUm:hover{
    color: rgb(0, 0, 0);
    background-image: url(../../img/fundo..branco.jpg);
    background-position: unset;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 40em;
    margin-top: 50px;
    border-right: 3px solid rgb(80, 80, 80);
    box-shadow: 2px 4px 15px black;
    transition: 3s;
}
.quemSomos-boxDois{
    height: 450px;
    width: 40em;
    margin: 10px;
    padding: 20px;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
}
.MissaoVisaoValores{
   display: flex;
   flex-direction: column;
   gap: 40px;
   margin: 20px;
   padding: 10px;
   padding-top: 80px;
}
.missao{
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.visao{
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    margin: 10px;
    gap: 20px;
}
.valores{
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 10px;
    gap: 20px;
}
