

.catNav h1{
    text-align: center;
}

.catNav{
    background-color: grey;
    display: flex;
    padding: 2%;
    gap: 20px;
    justify-content: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}.catNav div{
    margin-left: 5%;
}

.catList{
    display: none;
    list-style: none;
}.catList a{
    text-decoration: none;
    color: white;
    line-height: 20px;
}


.lista{
    list-style: none;
    display: flex;
    gap: 100px;
}

.catalogo{
    padding-top: 5%;
}
