
.catNav h1{
    text-align: center;
}

.catNav{
    background-color: var(--cordefundo);
    display: flex;
    padding: 3vh;
    margin-top: 13vh;
    gap: 10px;
    justify-content: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-family: var(--fonteTitle);

}.catNav div{
    margin-left: 5%;
}

.catList{
    display: none;
    list-style: none;
}.catNav a{
    font-size: 24px;
    text-decoration: none;
    color: white;
    line-height: 20px;
}
.catList ul{
    transition: 0.9s;
}

.lista{
    list-style: none;
    display: flex;
    gap: 8%;
    justify-content: center;
    margin-bottom: 5%;
}

.catalogo{
    padding-top: 5%;
}

.catNav a:hover{
    color: black;
}
article{
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 60vh;
    width: 100%;
    padding: 0px 40px;
}
.informacaoDoCatalogo{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 40vh;
    margin: auto;
}
.informacaoDoCatalogoICONS{
    color: black;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 20vh;
    margin: auto;
    justify-content: center;
    gap: 30px;
}
.informacaoDoCatalogoICONS img{
    height: 80px;
    width: 80px;
}